* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inter;
}

#banner {
  max-width: 1440px;
  padding: 20px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-weight: 600;
  background-color: #f3f5f7;
}
#banner a {
  color: #377dff;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
  border-bottom: 1px solid #377dff;
}
header {
  display: flex;
  align-items: center;
  padding: 30px 160px;
  justify-content: space-between;
}
header .logo-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
}
.logo-container .fa-bars {
  display: none;
}

header .logo {
  text-decoration: none;
  font-size: 24px;
  color: black;
}
nav ul {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 2rem;
}
.active {
  color: black;
  font-weight: 600;
}
nav ul li a {
  text-decoration: none;
  color: #6c7275;
}
header .icons {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.cart-container {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.cart-container {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}
header .icons .cart-item-container {
  width: 23px;
  height: 23px;
  border-radius: 50%;
  background-color: black;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
#hero-section {
  max-width: 1440px;
  margin: auto;
  padding: 0 160px;
  padding-bottom: 40px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 32px;
}
#hero-section .img-container {
  max-width: 1120px;
  max-height: 536px;
}
#hero-section .img-container img {
  width: 100%;
  height: 100%;
}
#hero-section .content {
  display: flex;
  align-items: center;
  gap: 24px;
}
#hero-section .content h2 {
  font-size: 72px;
  width: 643px;
}
#hero-section .content p {
  width: 424px;
  font-weight: 600;
}
/* item section start here*/

#item-section {
  max-width: 1440px;
  margin: auto;
  display: flex;
  align-items: center;
  padding: 0px 162px;
  gap: 24px;
}

#item-section .left-img-container {
  max-width: 548px;
  max-height: 664px;
}

#item-section .left-img-container img {
  width: 100%;
  height: 100%;
}

#item-section .right-img-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 24px;
}

#item-section .right-img-container div {
  max-width: 548px;
  max-height: 319px;
}

#item-section .right-img-container div img {
  width: 100%;
  height: 100%;
}
/* slider start here*/
#slider {
  max-width: 1440px;
  margin: auto;
  padding: 48px;
  padding-left: 160px;
}

#slider .slider-title {
  display: flex;
  justify-content: space-between;
  align-items: end;
  padding-right: 160px;
}

#slider .slider-title h2 {
  font-size: 40px;
  width: 149px;
  line-height: 44px;
}

#slider .slider-title a {
  text-decoration: none;
  border-bottom: 1px solid black;
  display: flex;
  align-items: center;
  color: black;
  gap: 0.5rem;
}

#slider .slider-container {
  display: flex;
  align-items: center;
  gap: 24px;
  overflow: scroll;
  padding-bottom: 75px;
  overflow-y: hidden;
}

#slider .slider-container .slide-card {
  width: 262px;
  height: 443px;
  padding-top: 48px;
}

#slider .slider-container .slide-card .img-container {
  width: 262px;
  height: 349px;
  position: relative;
}

#slider .slider-container .slide-card .img-container .heart-container {
  width: 30px;
  height: 30px;
  background-color: white;
  position: absolute;
  top: 1rem;
  right: 1rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  opacity: 0;
  transition: all 0.3s ease;
}
#slider .slider-container .slide-card .img-container:hover .heart-container {
  opacity: 1;
}

.tags {
  display: flex;
  gap: 8px;
  flex-direction: column;
  position: absolute;
  top: 1rem;
  left: 1rem;
}

.tags span {
  width: 60px;
  height: 24px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tags .new {
  background-color: white;
  color: black;
}

.tags .discount {
  background-color: #38cb89;
  color: white;
}

#slider .slider-container .slide-card .img-container img {
  width: 100%;
  height: 100%;
}

.cart-btn {
  background-color: black;
  padding: 8px 24px;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  width: 230px;
  text-align: center;
}
.cart-btn:hover {
  background-color: white;
  color: black;
  border: 1px solid black;
}
.card-content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 1rem;
}
.card-content p {
  font-weight: 600;
}
.card-content span {
  font-weight: 600;
}
.card-content del {
  color: gray;
  font-weight: 300;
}
/* slider end here*/

/* scrollbar start here */
::-webkit-scrollbar {
  width: 8px;
  height: 5px;
}
::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 10px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}

/* scrollbar end here */

/* article section start here */
#article {
  max-width: 1440px;
  margin: auto;
  padding: 88px 160px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
#article .article-title {
  display: flex;
  align-items: end;
  justify-content: space-between;
}
#article .article-title h2 {
  font-size: 40px;
  font-weight: 500;
}
#article .article-title a {
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
  border-bottom: 1px solid black;
  color: black;
  font-weight: 500;
}
#article .card-container {
  display: flex;
  align-items: center;
  gap: 25px;
}
#article .card-container .card {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
#article .card-container .card .card-content p {
  color: black;
  font-size: 20px;
  font-weight: 500;
}
#article .card-container .card .card-content a {
  font-size: 16px;
  width: fit-content;
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
  border-bottom: 1px solid black;
  color: black;
  font-weight: 500;
}

/* article section ends here */

/* footer start here */

footer {
  max-width: 1440px;
  margin: auto;
  padding: 88px;
  padding-left: 160px;
  padding-bottom: 32px;
  padding-right: 160px;
  background-color: rgb(17, 16, 16);
  display: flex;
  flex-direction: column;
  gap: 49px;
}
footer .footer-top-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer .footer-top-container .logo-container {
  display: flex;
  align-items: center;
  gap: 32px;
}
footer .footer-top-container .logo-container a {
  font-size: 24px;
  font-weight: 500;
  color: #fff;
  text-decoration: none;
}
footer .footer-top-container .logo-container .pipe {
  height: 24px;
  width: 1px;
  background-color: #6c7275;
}
footer .footer-top-container .logo-container p {
  font-size: 14px;
  font-weight: 400;
  color: #fff;
}
footer .footer-top-container .footer-links {
  display: flex;
  align-items: center;
  gap: 40px;
  list-style: none;
}
footer .footer-top-container .footer-links li a {
  color: white;
  text-decoration: none;
}
footer .footer-bottom-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer .footer-bottom-container .copyright {
  display: flex;
  align-items: center;
  gap: 28px;
}
footer .footer-bottom-container .copyright p {
  color: #6c7275;
  font-weight: 400;
  font-size: 12px;
}
footer .footer-bottom-container .copyright a {
  text-decoration: none;
  font-size: 12px;
  font-weight: 600;
  color: #fff;
}
footer .footer-bottom-container .social-icons {
  display: flex;
  align-items: center;
  gap: 24px;
}
.terms-container{
display: flex;
gap: 24px;
}
/* footer ends here */
@media (max-width: 450px) {
  #banner {
    font-size: 14px;
    padding: 18px 0;
  }
  #banner a {
    display: none;
  }
  header {
    max-width: 1440px;
    margin: auto;
    display: flex;
    align-items: center;
    padding: 16px 32px;
    justify-content: space-between;
  }
  header .logo-container .logo {
    font-size: 16px;
    font-weight: 500;
  }
  nav {
    display: none;
  }
  .icons > img {
    display: none;
  }
  .logo-container .fa-bars {
    display: block;
  }

  #hero-section .img-container {
    min-width: 311px;
    max-height: 304px;
  }
  #hero-section {
    max-width: 1440px;
    margin: auto;
    padding: 0 32px;
    padding-bottom: 40px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 32px;
  }
  #hero-section .content {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 16px;
  }
  #hero-section .content h2 {
    font-size: 40px;
    width: 311px;
  }
  #hero-section .content p {
    font-size: 14px;
    width: 312px;
    color: gray;
  }
  #hero-section .content p span {
    color: black;
  }
  #item-section {
    max-width: 1440px;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0px 32px;
    gap: 24px;
  }

  #item-section .left-img-container {
    min-width: 311px;
    min-height: 250px;
  }

  #item-section .right-img-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 16px;
  }

  #item-section .right-img-container div {
    min-width: 311px;
    min-height: 180px;
  }
  #slider {
    padding-top: 48px;
    padding-left: 32px;
    padding-right: 32px;
    display: flex;
    flex-direction: column;
    gap: 48px;
  }
  #slider .slider-container {
    display: flex;
    align-items: center;
    gap: 24px;
    overflow-x: scroll;
    padding-bottom: 70px;
  }
  #slider .slider-title {
    display: flex;
    justify-content: space-between;
    padding-right: 0;
    align-items: end;
  }
  #article {
    padding: 32px 40px;
  }
  #article .card-container {
    flex-wrap: wrap;
  }
  #article .card-container .card img {
    width: 311px;
    height: 283px;
  }

  footer {
    padding: 48px 32px;
    gap: 40px;
  
  }
  footer .footer-top-container {
    flex-direction: column;
    gap: 40px;
  }
  footer .footer-top-container .logo-container {
    flex-direction: column;
    gap: 16px;
  }
  footer .footer-top-container .logo-container .pipe {
    width: 24px;
    height: 1px;
    background-color: #6c7275;
  }
  footer .footer-top-container .footer-links {
    flex-direction: column;
    gap: 32px;
  }
  footer .footer-bottom-container {
    flex-direction: column-reverse;
    gap: 32px;
  }
  footer .footer-bottom-container .copyright {
    flex-direction: column-reverse;
    gap: 28px;
  }
}
